.accordion {
    background-color: grey;
    color: black;
    font-weight: bolder;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: 1px;
    border-style: dashed;
    text-align: left;
    outline: none;
    font-size: 15px;
    
}


.panel {
    display: none;
}